.App-content {
  /* Layout Properties */
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 1080px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.App-table-css {
  border-spacing: 0px;
  border-style: none;
  padding: 0px;
}

.App-table-td-css {
  border-spacing: 0px;
  border-style: none;
  padding: 0px;
}

.App-top-container {
  /* Layout Properties */
  top: 0px;
  left: 0px;
  width: 1920px;
  height: 40px;
  /* transform: matrix(0, -1, 1, 0, 0, 0); */
  /* UI Properties */
  background: #EBEDF2 0% 0% no-repeat padding-box;
  border: 1px solid #D5D9E2;
  opacity: 1;
}

.App-top-icon-bar {
  float: right;
}

.App-icon-minimize {
  /* Layout Properties */
  top: 0px;
  /* left: 1800px; */
  width: 40px;
  height: 40px;
  /* UI Properties */
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
}

.App-icon-smaller {
  /* Layout Properties */
  top: 0px;
  /* left: 1800px; */
  width: 40px;
  height: 40px;
  /* UI Properties */
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
}

.App-icon-quit {
  /* Layout Properties */
  top: 0px;
  /* left: 1880px; */
  width: 40px;
  height: 40px;
  /* UI Properties */
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
}

.App-icon-select {
  /* Layout Properties */
  top: 112px;
  left: 8px;
  width: 40px;
  height: 40px;
  /* UI Properties */
  background: 0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;

  display: inline-block;
  color: deeppink;
  font-weight: bold;
}

.App-tooltip-text {
  display: none;
  position: absolute;
  max-width: 200px;
  border: 1px solid;
  border-radius: 5px;
  padding: 5px;
  font-size: 0.8em;
  color: white;
  background: deeppink;
}

.tooltip:hover .tooltip-text {
  display: block;
}

.App-title-container {
  /* Layout Properties */
  top: 40px;
  left: 0px;
  width: 1920px;
  height: 64px;
  /* transform: matrix(0, -1, 1, 0, 0, 0); */
  /* UI Properties */
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 1px solid #EBEDF2;
  opacity: 1;
}

.App-title-text {
  top: 61px;
  padding-left: 56px;
  /* width: 127px; */
  height: 27px;
  font: var(--unnamed-font-style-normal) normal 600 var(--unnamed-font-size-20)/var(--unnamed-line-spacing-27) var(--unnamed-font-family-noto-sans-display);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-141746);
  text-align: left;
  font: normal normal 600 20px/27px Noto Sans Display;
  letter-spacing: 0px;
  color: #141746;
  opacity: 1;
}

.App-icon-create-box {
  /* Layout Properties */
  top: 160px;
  left: 8px;
  width: 40px;
  height: 40px;
  /* UI Properties */
  background:  0% 0% no-repeat padding-box;
  opacity: 1;
  cursor: pointer;
}

.App-left-container {
  /* Layout Properties */
  top: 104px;
  left: 0px;
  width: 56px;
  height: 976px;
  /* UI Properties */
  background: #FCFCFC 0% 0% no-repeat padding-box;
  border: 1px solid #EBEDF2;
  opacity: 1;
}

.App-right-container {
  top: 104px;
  width: 1860px;
  height: 976px;
  border: 1px solid #EBEDF2;
}

.App-boundingbox {
  position: absolute;
  cursor: move;
  color: black;
  width: 160px;
  height: 160px;
  border: 3px solid #5668D9;
  border-radius: 5px;
  padding: 1em;
  margin: auto;
  user-select: none;
  background: #dde1f7 0% 0% no-repeat padding-box;
}